<h1>Checkout</h1>
<hr>
<h3>Billing and Shipping Information</h3>

<form>
    First name:<br>
    <input type="text" name="firstname" >
    <br>
    Last name:<br>
    <input type="text" name="lastname" >
    <br>
    Email:<br>
    <input type="text" name="email" >
    <br>
    Phone:<br>
    <input type="text" name="phone" >
    <br>
    Address Line 1:<br>
    <input type="text" name="a1" >
    <br>
    Address Line 2:<br>
    <input type="text" name="a2" >
    <br>
    City:<br>
    <input type="text" name="city" >
    <br>
    State:<br>
    <input type="text" name="state" >
    <br>
    Country:<br>
    <input type="text" name="country" >
    <br>
    Zip/Postcode:<br>
    <input type="text" name="zip" >
    <br><br>
    <button a routerLink="/order-final">Finalize Your Order</button>
</form> 

